<nlog xmlns=" http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="verboseLayout" value="${longdate} ${level:upperCase=true} ${logger} - ${message} ${exception:format=tostring}" />

  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${verboseLayout}"  />
    <target name="trace" xsi:type="Trace" layout="${verboseLayout}"  />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console, trace" />
  </rules>
</nlog>